* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: seashell;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}
nav {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid seashell;
  height: 69px;
  background-color: black;
  position: fixed;
  z-index: 10;
  width: 100%;
  justify-content: space-between;
}
.logo {
  height: 50px;
  width: auto;
}
.navigation {
  list-style: none;
  display: flex;
  align-items: center;
}
.navigation li {
  margin-left: 20px;
}
a {
  color: seashell;
}
.intro {
  box-sizing: border-box;
  height: 700px;
  width: 1200pxs;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*es2iov*_ga*MzA1MDAxNTkxLjE2NjcxNzg3NTE.*_ga_3LRZM6TM9L*MTY3ODk4ODcyNy4xMTAuMS4xNjc4OTg4NzQzLjQ0LjAuMA..");
  background-repeat: no-repeat;
  background-position: center;
}
.intro h2,
.intro h4 {
  position: relative;
  top: 300px;
  box-sizing: border-box;
  background-color: black;
  padding: 10px;
}
main {
  margin-top: 90px;
}
.tea-selection h5 {
  margin: 15px;
  word-spacing: 3px;
}
.tea-types img {
  width: 300px;
  height: 200px;
  margin: 10px;
}
.tea-types {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin-bottom: 70px;
}
.adress {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1kj94s7*_ga*MzA1MDAxNTkxLjE2NjcxNzg3NTE.*_ga_3LRZM6TM9L*MTY3OTAwMjIwMS4xMTEuMC4xNjc5MDAyMjAxLjYwLjAuMA..");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  max-width: 1200pxs;
  margin-top: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
}
.adress-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adress-list {
  background-color: black;
  width: 300px;
  height: auto;
  padding: 20px;
  margin: 15px 40px;
}
.adress-list li {
  list-style: none;
  line-height: 60px;
  font-size: 20px;
}
footer .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}
.copyright h5 {
  text-align: left;
  margin: 50px 0px 20px 20px;
}
